Language: C
BasedOnStyle: LLVM

UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 80

BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: true

AllowShortIfStatementsOnASingleLine: WithoutElse

AllowShortFunctionsOnASingleLine: None

